<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>en</string>
		<string>ru</string>
		<string>uz-Cyrl</string>
	</array>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Olcha</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>33</string>
	<key>Entitlements File</key>
	<dict>
		<key>APS Environment</key>
		<string>development</string>
		<key>Associated Domains</key>
		<array>
			<string>applinks:olcha.uz</string>
		</array>
	</dict>
	<key>FacebookAppID</key>
	<string>165727962956470</string>
	<key>FacebookDisplayName</key>
	<string>Olcha Bozor</string>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<true/>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Olcha.uz ga foto, video va shaxsiy ma&apos;lumotlaringizni oson yuklay olishingiz uchun galereyaga kirishga ruxsat bering!</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Olcha.uz sizning xarita ma&apos;lumotlaringizni olishi uchun GPSga ruxsat bering!</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Olcha.uz sizning xarita ma&apos;lumotlaringizni olishi uchun GPSga ruxsat bering!</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Olcha.uz ga foto, video va shaxsiy ma&apos;lumotlaringizni oson yuklay olishingiz uchun galereyaga kirishga ruxsat bering!</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Olcha.uz ga foto, video va shaxsiy ma&apos;lumotlaringizni oson yuklay olishingiz uchun galereyaga kirishga ruxsat bering!</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Olcha.uz ga foto, video va shaxsiy ma&apos;lumotlaringizni oson yuklay olishingiz uchun galereyaga kirishga ruxsat bering!</string>
	<key>UIAppFonts</key>
	<array>
		<string>Raleway-Black.ttf</string>
		<string>Raleway-Medium.ttf</string>
		<string>Raleway-Light.ttf</string>
		<string>Raleway-Bold.ttf</string>
		<string>Raleway-SemiBold.ttf</string>
		<string>Raleway-Regular.ttf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>processing</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarHidden</key>
	<false/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
</dict>
</plist>
